<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="index.css" />
    <link rel="stylesheet" href="../common.css" />
  </head>
  <body>
    <header class="w-full">
      <nav>
        <ul class="flex white-text">
          <li><a href="../c1">模板1</a></li>
          <li><a href="../c2">模板2</a></li>
          <li><a href="../c3">模板3</a></li>
          <li><a href="../c4">模板4</a></li>
          <li><a href="../c5">模板5</a></li>
          <li><a href="../c6">模板6</a></li>
          <li><a href="../c7">模板7</a></li>
        </ul>
      </nav>
    </header>
    <section class="w-full">
      <div class="container">
        <h2 class="title">The latest and greatest news</h2>
        <p class="subtitle gray-text">
          Lorem ipsum dolor sit amet elit ut aliquam
        </p>
        <div class="grid-box categories">
          <a class="grid-item flex">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/flowspark-1f3e0.appspot.com/o/Tailspark%20Images%2FPlaceholder%20Image.svg?alt=media&amp;token=375a1ea3-a8b6-4d63-b975-aac8d0174074"
              alt=""
              class="bgImg"
            />
            <div class="info flex flex-col">
              <div class="category-name rounded">
                <p class="uppercase semibold">category name</p>
              </div>
              <h6 class="intro">The latest news with Flowspark</h6>
              <div class="read-info flex gray-text">
                <p>Laila Bahar</p>
                <p class="hidden hyphen">-</p>
                <p>6 mins read</p>
              </div>
            </div>
          </a>
          <a class="grid-item flex">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/flowspark-1f3e0.appspot.com/o/Tailspark%20Images%2FPlaceholder%20Image.svg?alt=media&amp;token=375a1ea3-a8b6-4d63-b975-aac8d0174074"
              alt=""
              class="bgImg"
            />
            <div class="info flex flex-col">
              <div class="category-name rounded">
                <p class="uppercase semibold">category name</p>
              </div>
              <h6 class="intro">The latest news with Flowspark</h6>
              <div class="read-info flex gray-text">
                <p>Laila Bahar</p>
                <p class="hidden hyphen">-</p>
                <p>6 mins read</p>
              </div>
            </div>
          </a>
          <a class="grid-item flex">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/flowspark-1f3e0.appspot.com/o/Tailspark%20Images%2FPlaceholder%20Image.svg?alt=media&amp;token=375a1ea3-a8b6-4d63-b975-aac8d0174074"
              alt=""
              class="bgImg"
            />
            <div class="info flex flex-col">
              <div class="category-name rounded">
                <p class="uppercase semibold">category name</p>
              </div>
              <h6 class="intro">The latest news with Flowspark</h6>
              <div class="read-info flex gray-text">
                <p>Laila Bahar</p>
                <p class="hidden hyphen">-</p>
                <p>6 mins read</p>
              </div>
            </div>
          </a>
          <a class="grid-item flex">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/flowspark-1f3e0.appspot.com/o/Tailspark%20Images%2FPlaceholder%20Image.svg?alt=media&amp;token=375a1ea3-a8b6-4d63-b975-aac8d0174074"
              alt=""
              class="bgImg"
            />
            <div class="info flex flex-col">
              <div class="category-name rounded">
                <p class="uppercase semibold">category name</p>
              </div>
              <h6 class="intro">The latest news with Flowspark</h6>
              <div class="read-info flex gray-text">
                <p>Laila Bahar</p>
                <p class="hidden hyphen">-</p>
                <p>6 mins read</p>
              </div>
            </div>
          </a>
        </div>
        <a href="#" class="view-more flex rounded semibold text-center"
          >View More</a
        >
      </div>
    </section>
  </body>
</html>
