.container {
  margin: 0 auto;
  max-width: 80rem;
  padding: 4rem 1.25rem 4rem;
}

@media (min-width: 768px) {
  .container {
    padding: 5rem 2.5rem 5rem;
  }
}

.text-center {
  text-align: center;
}

.title {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

@media (min-width: 768px) {
  .title {
    font-size: 3rem;
    line-height: 3rem;
  }
}

.gray-text {
  color: #6b7280;
}

.subtitle {
  padding: 1rem 0 2rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

@media (min-width: 640px) {
  .subtitle {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

@media (min-width: 768px) {
  .subtitle {
    padding-bottom: 3rem;
  }
}

@media (min-width: 1024px) {
  .subtitle {
    padding-bottom: 4rem;
  }
}

.grid-box {
  display: grid;
}

.categories {
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .categories {
    gap: 1rem;
    margin-bottom: 3rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .categories {
    gap: 2rem;
    margin-bottom: 4rem;
  }
}

.categories .bgImg {
  object-fit: cover;
  width: 9rem;
  height: 9rem;
}

.grid-item {
  gap: 1rem;
  padding: 1rem;
  align-items: center;
}

.uppercase {
  text-transform: uppercase;
}

.info {
  align-items: flex-start;
  padding: 1rem 0;
  justify-content: center;
}

.read-info {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.read-info .hyphen {
  margin: 0 0.5rem;
}

@media (max-width: 1024px) {
  .hidden {
    display: none;
  }
  .read-info {
    flex-direction: column;
  }
}

.rounded {
  border-radius: 0.375rem;
}

.category-name {
  padding: 0.375rem 0.5rem;
  margin-bottom: 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  background-color: rgb(243, 244, 246);
}

.semibold {
  font-weight: 600;
}

.category-name > p {
  color: rgb(37 99 235);
}

.intro {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.view-more {
  width: 8rem;
  margin: 0 auto;
  padding: 0.75rem 1.5rem;
  color: white;
  background-color: black;
}
