<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="index.css" />
    <link rel="stylesheet" href="../common.css" />
  </head>
  <body>
    <header class="w-full">
      <nav>
        <ul class="flex white-text">
          <li><a href="../c1">模板1</a></li>
          <li><a href="../c2">模板2</a></li>
          <li><a href="../c3">模板3</a></li>
          <li><a href="../c4">模板4</a></li>
          <li><a href="../c5">模板5</a></li>
          <li><a href="../c6">模板6</a></li>
          <li><a href="../c7">模板7</a></li>
        </ul>
      </nav>
    </header>
    <section class="w-full">
      <div class="container">
        <h2 class="text-center title">The latest and greatest news</h2>
        <p class="text-center gray-text little-title">
          Lorem ipsum dolor sit amet elit ut aliquam
        </p>
        <div class="grid main">
          <!-- first category (left category)-->
          <a href="#" class="flex flex-col">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/flowspark-1f3e0.appspot.com/o/Tailspark%20Images%2FPlaceholder%20Image.svg?alt=media&amp;token=375a1ea3-a8b6-4d63-b975-aac8d0174074"
              alt=""
            />
            <div class="text-info flex flex-col">
              <p class="category-name">category name</p>
              <h6 class="blog-title">The latest news with Flowspark</h6>
              <div class="flex flex-col read-info gray-text">
                <span>Laila Bahar</span>
                <span class="hidden hyphen">-</span>
                <span>6 mins read</span>
              </div>
            </div>
          </a>
          <!-- right categories -->
          <div>
            <a href="#" class="flex flex-col">
              <img
                src="https://firebasestorage.googleapis.com/v0/b/flowspark-1f3e0.appspot.com/o/Tailspark%20Images%2FPlaceholder%20Image.svg?alt=media&amp;token=375a1ea3-a8b6-4d63-b975-aac8d0174074"
                alt=""
              />
              <div class="text-info flex flex-col">
                <p class="category-name">category name</p>
                <h6 class="blog-title">Here is the title for this blog</h6>
                <div class="flex flex-col read-info gray-text">
                  <span>Laila Bahar</span>
                  <span class="hidden hyphen">-</span>
                  <span>6 mins read</span>
                </div>
              </div>
            </a>
            <a href="#" class="flex flex-col">
              <img
                src="https://firebasestorage.googleapis.com/v0/b/flowspark-1f3e0.appspot.com/o/Tailspark%20Images%2FPlaceholder%20Image.svg?alt=media&amp;token=375a1ea3-a8b6-4d63-b975-aac8d0174074"
                alt=""
              />
              <div class="text-info flex flex-col">
                <p class="category-name">category name</p>
                <h6 class="blog-title">Here is the title for this blog</h6>
                <div class="flex flex-col read-info gray-text">
                  <span>Laila Bahar</span>
                  <span class="hidden hyphen">-</span>
                  <span>6 mins read</span>
                </div>
              </div>
            </a>
            <a href="#" class="flex flex-col">
              <img
                src="https://firebasestorage.googleapis.com/v0/b/flowspark-1f3e0.appspot.com/o/Tailspark%20Images%2FPlaceholder%20Image.svg?alt=media&amp;token=375a1ea3-a8b6-4d63-b975-aac8d0174074"
                alt=""
              />
              <div class="text-info flex flex-col">
                <p class="category-name">category name</p>
                <h6 class="blog-title">Here is the title for this blog</h6>
                <div class="flex flex-col read-info gray-text">
                  <span>Laila Bahar</span>
                  <span class="hidden hyphen">-</span>
                  <span>6 mins read</span>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
