.entries {
  gap: 0.5rem;
}

.entries article {
  overflow: hidden;
  background-color: rgba(19, 57, 62, 65%);
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.entries article img {
  min-width: 0;
  flex: 2 1 0;
}

.character_info {
  min-width: 0;
  padding: 0.875rem;
  flex: 3 1 0;
  justify-content: space-between;
}

.ellipsis-1 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.character_info .name {
  font-size: 1.6875rem;
  line-height: 1.1;
  font-weight: 800;
}

.character_info .orange:hover {
  color: rgb(255, 152, 0);
}

.character_info .bright-green {
  background-color: rgb(85, 204, 68);
}

.character_info .deep-red {
  background-color: rgb(214, 61, 46);
}

.character_info .neutral-gray {
  background-color: rgb(158, 158, 158);
}

.status_category {
  font-size: 1rem;
  line-height: 1.625rem;
  font-weight: 500;
  align-items: center;
}

.status {
  width: 0.5625rem;
  height: 0.5625rem;
  margin-right: 0.5rem;
}

.last_location > .addr1,
.first_location > .addr2 {
  font-size: 1.125rem;
  line-height: 1.625;
  font-weight: 400;
}

@media (min-width: 768px) {
  .entries {
    gap: 1.5rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .entries article {
    flex-direction: row;
  }
}

@media (min-width: 1900px) {
  .entries {
    gap: 1.5rem;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  main section {
    max-width: 100%;
    padding: 1.5rem 2rem;
  }
}
