<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../common.css" />
    <link rel="stylesheet" href="./index.css" />
  </head>
  <body>
    <header class="w-full">
      <nav>
        <ul class="flex white-text">
          <li><a href="../c1">模板1</a></li>
          <li><a href="../c2">模板2</a></li>
          <li><a href="../c3">模板3</a></li>
          <li><a href="../c4">模板4</a></li>
          <li><a href="../c5">模板5</a></li>
          <li><a href="../c6">模板6</a></li>
          <li><a href="../c7">模板7</a></li>
        </ul>
      </nav>
    </header>
    <div class="container containerBig containerSmall">
      <div class="component flex flex-col">
        <h2 class="title">The latest and greatest news</h2>
        <p class="subtitle gray-text">
          Lorem ipsum dolor sit amet elit ut aliquam
        </p>
        <div class="styles">
          <a href="#" class="style_item flex flex-col">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/flowspark-1f3e0.appspot.com/o/Tailspark%20Images%2FPlaceholder%20Image.svg?alt=media&token=375a1ea3-a8b6-4d63-b975-aac8d0174074"
              alt=""
              class="bgImg"
            />
            <div class="summary">
              <p class="uppercase gray-text small-text semibold-font">
                lifestyle
              </p>
              <p class="a_title semibold-font">
                The latest news with Flowspark
              </p>
              <p class="paragraph small-text gray-text">
                Lorem ipsum dolor sit amet, &nbsp;elit ut aliquam, purus sit
                amet luctus venenatis elit ut aliquam, purus sit amet luctus
                venenatis
              </p>
              <div class="flex">
                <img
                  src="https://firebasestorage.googleapis.com/v0/b/flowspark-1f3e0.appspot.com/o/Tailspark%20Images%2FPLaceholder%20Image%20Secondary.svg?alt=media&token=b8276192-19ff-4dd9-8750-80bc5f7d6844"
                  alt=""
                  class="avatar"
                />
                <div class="flex flex-col">
                  <h6 class="base-text">Laila Bahar</h6>
                  <div class="flex read-date large-flex-col">
                    <p>Sept 28, 2022</p>
                    <p class="hidden">-</p>
                    <p>6 mins read</p>
                  </div>
                </div>
              </div>
            </div>
          </a>
          <a href="#" class="style_item flex flex-col">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/flowspark-1f3e0.appspot.com/o/Tailspark%20Images%2FPlaceholder%20Image.svg?alt=media&token=375a1ea3-a8b6-4d63-b975-aac8d0174074"
              alt=""
              class="bgImg"
            />

            <div class="summary">
              <p class="uppercase gray-text small-text semibold-font">
                lifestyle
              </p>
              <p class="a_title semibold-font">
                The latest news with Flowspark
              </p>
              <p class="paragraph small-text gray-text">
                Lorem ipsum dolor sit amet, &nbsp;elit ut aliquam, purus sit
                amet luctus venenatis elit ut aliquam, purus sit amet luctus
                venenatis
              </p>
              <div class="flex">
                <img
                  src="https://firebasestorage.googleapis.com/v0/b/flowspark-1f3e0.appspot.com/o/Tailspark%20Images%2FPLaceholder%20Image%20Secondary.svg?alt=media&token=b8276192-19ff-4dd9-8750-80bc5f7d6844"
                  alt=""
                  class="avatar"
                />
                <div class="flex flex-col">
                  <h6>Laila Bahar</h6>
                  <div class="flex read-date large-flex-col">
                    <p>Sept 28, 2022</p>
                    <p class="hidden">-</p>
                    <p>6 mins read</p>
                  </div>
                </div>
              </div>
            </div>
          </a>
          <a href="#" class="style_item flex flex-col">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/flowspark-1f3e0.appspot.com/o/Tailspark%20Images%2FPlaceholder%20Image.svg?alt=media&token=375a1ea3-a8b6-4d63-b975-aac8d0174074"
              alt=""
              class="bgImg"
            />
            <div class="summary">
              <p class="uppercase gray-text small-text semibold-font">
                lifestyle
              </p>
              <p class="a_title semibold-font">
                The latest news with Flowspark
              </p>
              <p class="paragraph small-text gray-text">
                Lorem ipsum dolor sit amet, &nbsp;elit ut aliquam, purus sit
                amet luctus venenatis elit ut aliquam, purus sit amet luctus
                venenatis
              </p>
              <div class="flex">
                <img
                  src="https://firebasestorage.googleapis.com/v0/b/flowspark-1f3e0.appspot.com/o/Tailspark%20Images%2FPLaceholder%20Image%20Secondary.svg?alt=media&token=b8276192-19ff-4dd9-8750-80bc5f7d6844"
                  alt=""
                  class="avatar"
                />
                <div class="flex flex-col">
                  <h6>Laila Bahar</h6>
                  <div class="flex read-date large-flex-col">
                    <p>Sept 28, 2022</p>
                    <p class="hidden">-</p>
                    <p>6 mins read</p>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <a href="#" class="semibold-font view-more"> View More </a>
      </div>
    </div>
  </body>
</html>
