.container {
  margin: 0 auto;
  padding: 4rem 1.25rem;
  max-width: 80rem;
}

.component {
  align-items: center;
}

.text-center {
  text-align: center;
}

.gray-text {
  color: #6b7280;
}

.title {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.text-small {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.little-title {
  margin: 1rem 0 2rem;
}

.grid {
  display: grid;
}

.main {
  margin-bottom: 3rem;
  gap: 1rem;
}

.main img {
  object-fit: cover;
  max-width: 100%;
}

.grid-item > img {
  height: 15rem;
}

.text-info {
  align-items: flex-start;
}

.read-info {
  align-items: center;
}

.read-info > img {
  height: 2rem;
  width: 2rem;
  margin-right: 1rem;
  border-radius: 1rem;
}

.main {
  gap: 1rem;
  margin-bottom: 3rem;
}

.grid-item {
  position: relative;
  padding: 2rem 1rem;
  gap: 1rem;
  background-color: #f3f4f6;
}

.grid-item::after {
  position: absolute;
  display: block;
  top: 13.75rem;
  right: 2rem;
  width: 56px;
  height: 56px;
  content: "";
  border-radius: 32px;
  border: 0.25rem solid rgb(209 213 219);
  background: black
    url(https://assets.website-files.com/6458c625291a94a195e6cf3a/647e0b7ecf55e2b1c5295de4_Vector.svg)
    center no-repeat;
}

.text-info {
  gap: 1.25rem;
  /* width: 100%; */
  /* align-items: flex-start; */
}

.rounded {
  border-radius: 0.375rem;
}

.category-name {
  padding: 0.375rem 0.5rem;
  color: rgb(37 99 235);
  font-weight: 600;
  text-transform: uppercase;
  background-color: rgb(230, 225, 250);
}

.blog-title {
  font-size: 1rem;
}

.sep-line {
  height: 1px;
  background-color: black;
}

.author {
  font-size: 1rem;
  line-height: 1.5rem;
}

.hidden {
  display: none;
}

.hyphen {
  margin: 0 0.5rem;
}

.view-more {
  padding: 0.75rem 1.5rem;
  color: white;
  font-weight: 600;
  background-color: black;
}

@media (min-width: 640px) {
  .little-title {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .main {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 768px) {
  .container {
    padding: 5rem 2.5rem;
  }
  .title {
    font-size: 3rem;
    line-height: 1;
  }
  .little-title {
    margin-bottom: 3rem;
  }
  .read-text {
    flex-direction: row !important;
    align-items: center;
  }
  .main {
    margin-bottom: 4rem;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .grid-item {
    padding: 1rem;
  }
}

@media (min-width: 1024px) {
  .little-title {
    margin-bottom: 4rem;
  }

  .main {
    margin-bottom: 5rem;
    gap: 1.5rem;
  }

  .hyphen {
    display: block;
  }
}
