.container {
  margin: 0 auto;
  width: 60vw;
}

.title {
  padding: 130px 0 40px 0;
  text-align: center;
  font-size: 48px;
}

.img {
  width: 180px;
  height: 180px;
}

.item {
  padding: 20px 0;
  border-bottom: #e5e7eb 2px solid;
  justify-content: flex-start;
  align-items: center;
}

.px-8 {
  padding-left: 35px;
}

.introduce {
  font-size: larger;
  font-weight: 700;
  color: #6b7280;
  padding-bottom: 25px;
}

.date {
  font-size: smaller;
  color: #6b7280;
}
